.post
{
    text-align: center;
}
.post form
{
    margin-top: 0px;
    margin-bottom: 0px;
    display: inline-block;
}
.post p
{
    margin: auto;
}
.advertise input
{
    font-size: 20px;
    margin-bottom: 5px !important;
}
.update input
{
    font-size: 20px;
    margin-bottom: 5px !important;
}
.destroy input
{
    font-size: 20px;
    margin-top: 5px !important;
}
.name
{
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
}
#category
{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}
#category p
{
    margin: auto;
}